@import 'bootstrap';
@import 'variables';
@import '../../node_modules/font-awesome/scss/font-awesome';

img {
  @extend .img-responsive;
  max-width: 100%;
}

.header {
  background: #00d900;
  color: #FFF;
  font-size: 60px;
  font-weight: bold;
}
.startover {
  position: absolute;
  z-index: 9999;
  top: 5px;
  right: 5px;
  color: #f7ff00;
}
.counter {
  font-size: 40px;
  padding-top: 20px;
  color: #00d900;
}
.vertical-align {
  padding-top: 55px;
}
.list-group-item img {
  max-height: 45px;
}
.correct {
  color: Green;
  font-weight: bold;
  font-size: 18px;
}
.incorrect {
  color: Red;
  font-weight: bold;
  font-size: 18px;
}
.footer {
  background: rgba(234, 234, 234, 0.9);
  bottom: 0;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  box-shadow: 0px -2px 43px #333;
}
@media screen and (max-width: 750px) {
  .header {
    font-size: 30px;
    padding-top: 20px;
  }
  .btn {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .top-mobile {
    max-height: 375px;
  }
  .frobox {
    text-align: center;
  }
  .frobox img {
    margin: 0 auto;
    margin-top: 0px;
    max-width: 75%;
  }
  .select-ops {
    padding-top: 0px;
  }
}